*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(204, 204, 204);
    color: black;
}

#header {
    position: sticky;
    top: 0;
    background-color: rgb(204, 204, 204);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#header h1 {
    color: red;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav li {
    list-style: none;
    cursor: pointer;
}

#nav li .link {
    text-decoration: none;
    color: black;
    transition: all 500ms linear;
}

#nav li .active {
    text-decoration: none;
    background-color: red;
    color: black;
}

#displayPro {
    width: 100%;
    object-position: center;
}

.pro_name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: red;
}

.brand_div {
    display: grid;
}

.item_div {
    background-color: white;
    width: 100%;
}

.brand_img {
    width: 100%;
}

.brand_name {
    color: red;
    font-weight: 400;
}

.brand_price {
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
}

.pur_div {
    display: flex;
    justify-content: space-between;
}

.pur_det {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pur_num {
    font-weight: 400;
}

.pur_btn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: 400;
}

.cart_btn {
    border: none;
    background-color: red;
    color: black;
    cursor: pointer;
    outline: none;
    font-weight: 400;
}

#footer {
    background-color: rgb(65, 65, 65);
    color: white;
    text-align: center;
}

#fotLinks1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(65, 65, 65);
}

#fotLinks2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(65, 65, 65);
}

.fotLink {
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: rgb(65, 65, 65);
    border: none;
}

#rigDiv {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgb(65, 65, 65);
}

.itemSec {
    background-color: white;
}

.itemDet {
    display: flex;
}

.itemPrice {
    font-weight: 400;
}

.itemParam {
    display: flex;
    align-items: center;
}

.itemParamBtn {
    display: flex;
    align-items: center;
}

.itemParamBtn var {
    font-weight: 400;
}

.itemBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.remItemBtn {
    border: none;
    background-color: red;
    cursor: pointer;
}

#conOrderBtn {
    width: 100%;
    border: none;
    background-color: red;
    text-align: center;
    cursor: pointer;
}






@media all and (max-width: 767px) {

    #header {
        padding: 0.75rem 0.5rem;
        margin-bottom: 1rem;
    }

    #header h1 {
        font-size: 1.25rem;
    }

    #nav li {
        font-size: 0.75rem;
        margin: 0 0.25rem;
        border-radius: 0.25rem;
    }

    #nav li .link {
        padding: 0.125rem 0.25rem;
    }

    #nav li .active {
        letter-spacing: 1px;
        padding: 0.125rem 0.25rem;
    }

    #nav li .link:hover {
        letter-spacing: 1px;
    }

    #introText {
        padding: 0  0.5rem 1rem 0.5rem;
        border-bottom: 1px solid black;
        margin-bottom: 1rem;
        font-size: 0.75rem;
    }

    #displayPro {    
        height: 5rem;
        margin: 0 0.5rem 0.5rem 0.5rem;
    }

    .pro_name {
        font-size: 1rem;
        margin: 0 0.5rem 0.25rem 0.5rem;
        padding: 0.25rem;
    }

    .brand_div {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.25rem;
        margin-bottom: 0.25rem;
        padding: 0 0.5rem;
    }

    .brand_div:last-child {
        margin-bottom: 0.5rem;
    }

    .item_div {
        padding: 0.5rem;
    }

    .brand_img {
        height: 7.5rem;
        margin-top: 0.25rem;
    }

    .brand_name {
        font-size: 0.75rem;
        margin-top: 0.25rem;
    }

    .brand_desc {
        font-size: 0.75rem;
        margin: 0.25rem 0;
    }

    .brand_price {
        font-size: 0.75rem;
    }

    .pur_div {
        margin-top: 0.5rem;
    }

    .pur_num {
        font-size: 1rem;
        margin: 0 1rem;
    }

    .pur_btn {
        font-size: 1rem;
    }

    .cart_btn {
        font-size: 0.75rem;
        padding: 0.125rem 0.25rem;
    }

    #footer {
        padding: 0.5rem;
    }

    .fotLink {
        font-size: 0.75rem;
        margin: 0.5rem;
    }

    #rigDiv {
        padding: 0.75rem 0 0.5rem 0;
        margin-top: 0.25rem;
        font-size: 0.75rem;
        border-top: 1px solid white;
    }

    .itemSec {
        padding: 0.5rem;
        margin: 0 0.5rem 0.25rem 0.5rem;
    }

    .itemDet {
        gap: 0.5rem;
    }

    .itemPic {
        width: 2.5rem;
        height: 2.5rem;
    }

    .itemName {
        font-size: 0.75rem;
    }
    
    .itemPrice {
        font-size: 0.75rem;
    }

    .itemParam {
        gap: 1rem;
        margin-top: 0.5rem;
    }

    .itemParamBtn {
        gap: 1.5rem;
    }

    .itemParamBtn var {
        font-size: 1rem;
    }

    .itemBtn {
        font-size: 1rem;
    }
    
    .itemTotal {
        font-size: 0.75rem;
    }
    
    .remItemBtn {
        padding: 0.125rem 0.25rem 0.125rem 0.25rem;
        font-size: 0.75rem;
        margin-top: 0.5rem;
    }
    
    #conOrderBtn {
        font-size: 1rem;
        padding: 0.5rem;
        margin: 0.5rem;
    }
}







@media all and (min-width: 768px) and (max-width: 1023px) {

    #header {
        padding: 1.5rem 1rem;
        margin-bottom: 1.5rem;
    }

    #header h1 {
        font-size: 2rem;
    }

    #nav li {
        font-size: 1.5rem;
        margin: 0 0.5rem;
        border-radius: 0.5rem;
    }

    #nav li .link {
        padding: 0.125rem 0.5rem;
    }

    #nav li .active {
        letter-spacing: 2.5px;
    }

    #nav li .link:hover {
        letter-spacing: 2.5px;
    }

    #introText {
        padding: 0  1rem 1.5rem 1rem;
        border-bottom: 1px solid black;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
    }

    #displayPro {    
        height: 10rem;
        margin: 0 1rem 1rem 1rem;
    }

    .pro_name {
        font-size: 2rem;
        margin: 0 1rem 0.75rem 1rem;
        padding: 0.5rem;
    }

    .brand_div {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.75rem;
        margin: 0 1rem 0.75rem 1rem;
    }

    .brand_div:last-child {
        margin-bottom: 1rem;
    }

    .item_div {
        padding: 1rem;
    }

    .brand_img {
        height: 12rem;
        margin-top: 0.25rem;
    }

    .brand_name {
        font-size: 1.5rem;
        margin-top: 0.75rem;
    }

    .brand_desc {
        font-size: 1.5rem;
        margin: 0.75rem 0;
    }

    .brand_price {
        font-size: 1.5rem;
    }

    .pur_div {
        margin-top: 0.75rem;
    }

    .pur_num {
        font-size: 2rem;
        margin: 0 2rem;
    }

    .pur_btn {
        font-size: 2rem;
    }

    .cart_btn {
        font-size: 1.5rem;
        padding: 0.25rem 0.75rem;
    }

    #footer {
        padding: 1rem;
    }

    .fotLink {
        font-size: 1rem;
        margin: 0.75rem;
    }

    #rigDiv {
        padding: 0.75rem 0 0.5rem 0;
        margin-top: 0.75rem;
        font-size: 1.5rem;
        border-top: 2px solid white;
    }

    .itemSec {
        padding: 1rem;
        margin: 0 1rem 0.5rem 1rem;
    }

    .itemDet {
        gap: 0.75rem;
    }

    .itemPic {
        width: 3.5rem;
        height: 3.5rem;
    }

    .itemName {
        font-size: 1.5rem;
    }
    
    .itemPrice {
        font-size: 1.5rem;
    }

    .itemParam {
        gap: 1.5rem;
        margin-top: 1rem;
    }

    .itemParamBtn {
        gap: 2rem;
    }

    .itemParamBtn var {
        font-size: 2rem;
    }

    .itemBtn {
        font-size: 2rem;
    }
    
    .itemTotal {
        font-size: 1.5rem;
    }
    
    .remItemBtn {
        padding: 0.25rem 0.75rem;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    
    #conOrderBtn {
        font-size: 2rem;
        padding: 0.5rem;
        margin: 1rem;
    }
}







@media all and (min-width: 1024px) {
    #header {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    #header h1 {
        font-size: 1.25rem;
    }

    #nav li {
        font-size: 1rem;
        margin: 0 0.5rem;
        border-radius: 0.25rem;
    }

    #nav li .link {
        padding: 0.125rem 0.5rem;
    }

    #nav li .active {
        letter-spacing: 1.5px;
    }

    #nav li .link:hover {
        letter-spacing: 1.5px;
    }

    #introText {
        padding: 0 1rem 1rem 1rem;
        border-bottom: 1px solid black;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    #displayPro {    
        height: 7.5rem;
        margin: 0 1rem 1rem 1rem;
    }

    .pro_name {
        font-size: 1.25rem;
        margin: 0 1rem 0.5rem 1rem;
        padding: 0.5rem;
    }

    .brand_div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0.5rem;
        margin: 0 1rem 0.5rem 1rem;
    }

    .brand_div:last-child {
        margin-bottom: 1rem;
    }

    .item_div {
        padding: 1rem;
    }

    .brand_img {
        height: 10rem;
        margin-top: 0.25rem;
    }

    .brand_name {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .brand_desc {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .brand_price {
        font-size: 1rem;
    }

    .pur_div {
        margin-top: 0.5rem;
    }

    .pur_num {
        font-size: 1.25rem;
        margin: 0 1.5rem;
    }

    .pur_btn {
        font-size: 1.25rem;
    }

    .cart_btn {
        font-size: 1rem;
        padding: 0.25rem 0.75rem;
    }

    #footer {
        padding: 1rem;
    }

    .fotLink {
        font-size: 1rem;
        margin: 0.75rem 0;
    }

    #rigDiv {
        padding: 1rem 0 0.5rem 0;
        margin-top: 0.25rem;
        font-size: 1rem;
        border-top: 1px solid white;
    }

    .itemSec {
        padding: 0.75rem;
        margin: 0 1rem 0.5rem 1rem;
    }

    .itemDet {
        gap: 0.75rem;
    }

    .itemPic {
        width: 3rem;
        height: 3rem;
    }

    .itemName {
        font-size: 1rem;
    }
    
    .itemPrice {
        font-size: 1rem;
    }

    .itemParam {
        gap: 1rem;
        margin-top: 0.75rem;
    }

    .itemParamBtn {
        gap: 2rem;
    }

    .itemBtn {
        font-size: 1.25rem;
    }

    .itemParamBtn var {
        font-size: 1rem;
    }
    
    .itemTotal {
        font-size: 1rem;
    }
    
    .remItemBtn {
        padding: 0.25rem 0.75rem;
        font-size: 1rem;
        margin-top: 0.75rem;
    }
    
    #conOrderBtn {
        font-size: 1.35rem;
        padding: 0.5rem;
        margin: 1rem;
    }
}